.side-bar__icon {
    width: 70px;
    font-size: 25px;
    text-align: center;
    padding-left: 30px;
}

.side-bar__icon:hover {
    background: #030303;
    color: #00eaff;
    letter-spacing: 5px;
}