* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
    background-color: #fefeff;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 90%;
    margin: 0 auto;
    background-color: #252839;
}

.navigation {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.navigation .navigation__item {
    position: relative;
    list-style: none;
}

.navigation .navigation__item .navigation__link {
    position: relative;
    font-size: 4em;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

.navigation .navigation__item .navigation__link::before {
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid var(--clr);
    -webkit-text-stroke: 1px var(--clr);
}

.navigation .navigation__item .navigation__link:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 20px var(--clr));
}

.tubelight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 90vh;
    background-color: #07252d;
}

.tubelight__text {
    position: relative;
    font-size: 6em;
    letter-spacing: 15px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    line-height: .9em;
    outline: none;
    animation: miror 5s linear infinite;
}

@keyframes miror {

    0%,
    16%,
    28%,
    57.2%,
    68%,
    78.1%,
    84%,
    92.3% {
        color: #0e3742;
        text-shadow: none;
    }

    16.2%,
    28.1%,
    36%,
    57%,
    68%,
    78.3%,
    84.1%,
    92.4%,
    100% {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
            0 0 20px #03bcf4,
            0 0 40px #03bcf4,
            0 0 80px #03bcf4,
            0 0 160px #03bcf4;
    }
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 90%;
    background: #f7f7f7;
}

.cards__navigation {
    width: 80px;
    background: #fff;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: -20px 20px 50px rgba(0, 0, 0, .05);
    transition: .5s;
    overflow: hidden;
}

.cards__navigation.active {
    width: 400px;
    align-items: center;
}

.cards__navigation .cards__toggle {
    position: relative;
    width: 80px;
    height: 70px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    padding: 0 20px;
    width: 100%;
}

.cards__navigation .cards__toggle::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background: #333;
    transform: translateY(-10px);
    transition: .5s;

}

.cards__navigation .cards__toggle::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background: #333;
    transform: translateY(10px);
    transition: .5s;
    box-shadow: 0 -10px #333;
}

.cards__navigation.active .cards__toggle::before {
    transform: translateY(0) rotate(45deg);
}

.cards__navigation.active .cards__toggle::after {
    transform: translateY(0) rotate(-45deg);
    box-shadow: 0 0 #333;
}

.cards__navigation .profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 0 10px;
    width: 100%;
}

.cards__navigation .profile .imgBx {
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    transition: .5s;
    border-radius: 50%;
    overflow: hidden;
}

.cards__navigation.active .profile .imgBx {
    width: 200px;
    height: 200px;
}

.cards__navigation .profile .imgBx .portret {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards__menu {
    position: relative;
    width: 100%;
    padding: 10px;
    transition: .5s;
    border-top: 1px solid rgba(0, 0, 0, .05);
}

.cards__menu.active {
    padding: 10px 20px;
}

.cards__list {
    list-style: none;
}

.cards__link {
    position: relative;
    display: flex;
    text-decoration: none;
    color: #111;

}

.cards__link:hover {
    background-color: #0084ff;
    color: #fff;
}

.cards__icon {
    position: relative;
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-left: 10px;
}

.cards__text {
    position: relative;
    height: 60px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
}