.cards__icon {
    position: relative;
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 10px;
}

.cards__icon:hover {
    background-color: rgba(0, 0, 0, .15);
    color: #fff;
}